<div class="col">
    <div class="card card-clickable" style="max-width: 540px;">
        <div class="row row-cols-1 g-0">
            <div class="col">
                <img src="/images/placeholder.png" class="img-fluid rounded-top">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="name card-title text-nowrap">Card title</h5>
                    <p class="card-text">Total Score: <span class="fullscore"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>