<div id="tab-settings">
    <h3 class="mb-3">Rankings</h3>
    <p>
        A ranking contains multiple score tables for your games. Manage your rankings here. The active ranking
        determines which tables are shown in the <i>Score Tables</i>-tab.
    </p>
    <div id="div-rankings" class="d-flex flex-column gap-2">
    </div>
    <button id="btn-add-ranking" class="btn btn-primary">Add ranking</button>
    <hr>
    <h3 class="mb-3">User account</h3>
    <p>
        Manage your user account here.
    </p>
    <div class="border p-2 gap-4 d-flex flex-column align-items-start">
        <span>You are logged in as <strong class="username">user</strong>.</span>
        <button id="btn-delete-user" class="btn btn-danger">Delete account</button>
    </div>
</div>