<div id="tab-rankings" class="d-flex flex-column flex-grow-1 gap-2">
    <div class="d-flex align-items-center justify-content-between gap-2">
        <nav class="">
            <ul class="nav nav-underline">
            </ul>
        </nav>
        <div class="d-flex flex-row align-items-center gap-2">
            <button class="btn btn-sm btn-secondary">Table settings</button>
            <button class="btn btn-sm btn-primary">Add table</button>
        </div>
    </div>
    <div id="table-view" class="flex-grow-1 overflow-auto"">
    </div>
</div>